//colors
$white: #fff;
$black: #000;
$light-black: #313131;
$red: #b70b0b;
$blue: #006fff;
$light-gray: #eeeeee;

$border-color: #dadada;

$x-small: 376px;
$small: 576px;
$medium: 768px;
$large: 1024px;